.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
  }
  
  .card-title {
    margin-top: 10px;
  }
  
  .btn {
    align-self: center;
  }
  