.gameAddPageContainer{
    margin: 30px;
    margin-top: 150px;
    
    text-align: center;
    
}

.gameAddPageContainer h1{
    color: #1559a7;
    font-weight: bold;
    margin-bottom: 100px;
    
}

.gameAddPageContainer button{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
    font-weight: bold;
    
}

.gameAddPageContainer button:hover{
    background-color: rgb(206, 135, 29);
    cursor: pointer;
}

.gameAddParts{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    
}

.gameAddParts input{
    width: 200px;
    height: 30px;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid gray;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.gameAddParts input:focus{
    border: 2px solid #44d4e7;
    outline: none;
    box-shadow: 0 0 3px #36adc2;
}

.inputDate{
    color: gray;
    margin-bottom: 40px;
}

.gameAddParts .selectBox{
    width: 200px;
    font-weight: bold;
    
}

.allPlayersHomeAway{
    display: flex;
}

.lineUpCheckTable{
    color: #333
}

.allPlayersHomeAway{
    display: flex;
    justify-content: space-evenly;
}

#lineupToggleButton{
    background-color: rgb(188, 218, 188);
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

#lineupToggleButton:hover{
    background-color: #59ecaf;
}

.allPlayers label button{
    margin-bottom: 10px;
}

/**lienup table**/
.gameAddParts table{
    border-collapse: collapse;
    box-shadow: 0 0 4px #ccc;
    margin-bottom: 10px;
    
}

.gameAddParts th, .gameAddParts td{
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;
}

.gameAddParts th{
    border-bottom: 1px solid #ccc;
}

.playerCheckBoxTd input[type=checkbox]{
    width: 30px;
    
}

.gameAddParts .inputLabel{
    color: rgb(39, 194, 241);
}

button.gameAddButtonSubmit{
    background-color: rgb(15, 117, 15);
    
}

button.gameAddButtonSubmit:hover{
    background-color: rgb(11, 83, 11);
}