* {
    text-align: center;
}
.error {
    color: red;
}

.valid {
    color: green;
}


h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#signup-container {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%; /* 각 컨테이너의 폭을 50%로 설정 */
    margin-left: auto; /* 중앙 정렬을 위한 왼쪽 여백 자동 설정 */
    margin-right: auto; /* 중앙 정렬을 위한 오른쪽 여백 자동 설정 */
    text-align: left; /* 텍스트를 왼쪽 정렬로 설정 */
/* Flexbox 레이아웃을 사용하여 label과 input을 정렬 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: flex-start; /* 모든 항목을 컨테이너의 시작 부분에 정렬 */
}
#signup-container label {
    margin-bottom: 0px; /* label과 입력 필드 사이의 하단 여백을 제거 */
}

#signup-container input,
#signup-container select {
    margin-top: 0px;
    padding: 5px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    width: 100%; /* 입력 필드와 선택 상자의 너비를 전체 너비로 설정 */
    margin-bottom: 5px;
}





.signup-button {
    margin-top: 10px;
    background: #002063;
    width: 50%;
    padding: 15px 25px;
    color: white;
    border: none ;
    border-radius: 10px;
}
.signup-button :hover {
    background: #9000d3;
    cursor: pointer;
}
.login-link {
    margin-top: 10px;
}
.login-link > p {
    display: inline-block;
    margin-right: 10px;
}

.login-link > a {
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
    color:blue;
}

form {
    margin-bottom: 30px;
}