* {
    text-align: center;
}
.error {
    color: red;
}

.valid {
    color: green;
}

.duplicate-id-button {
    background-color: #002063;
    background: #002063;
    width: 20%;
    padding: 8px 4px;
    color: white;
    border: none ;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-end;
}

.duplicate-id-button:hover {
    background-color: #070063;
}

.juso-button {

}


h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#signup-container {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%; /* 각 컨테이너의 폭을 50%로 설정 */
    margin-left: auto; /* 중앙 정렬을 위한 왼쪽 여백 자동 설정 */
    margin-right: auto; /* 중앙 정렬을 위한 오른쪽 여백 자동 설정 */
    text-align: left; /* 텍스트를 왼쪽 정렬로 설정 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: flex-start; /* 모든 항목을 컨테이너의 시작 부분에 정렬 */
}
#signup-container label {
    margin-bottom: 0px;
    font-size: 18px;
}

#signup-container input,
#signup-container select {
    margin-top: 0px;
    padding: 5px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;
}





.signup-button {
    margin-top: 10px;
    background: #002063;
    width: 50%;
    padding: 15px 25px;
    color: white;
    border: none ;
    border-radius: 10px;
}
.signup-button:hover {
    background: #070063;
    cursor: pointer;
    color: white;
}
.login-link {
    margin-top: 10px;
}
.login-link > p {
    display: inline-block;
    margin-right: 10px;
}

.login-link > a {
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
    color:blue;
}

form {
    margin-bottom: 30px;
}