<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="base.ball.mapper.BoardMapper">
	<select id ="findAll" resultType="base.ball.dto.Board">
		SELECT * FROM board
	</select>
	<insert id="insertBoard" parameterType="base.ball.dto.Board" useGeneratedKeys="true" keyProperty="boardNo">
		INSERT INTO board (
			board_member_no, board_title, board_contents, board_image_url,
			board_hits, board_likes, board_private, board_password)
		VALUES (
			#{boardMemberNo}, #{boardTitle}, #{boardContents}, #{boardImageUrl},
			#{boardHits}, #{boardLikes}, #{boardPrivate}, #{boardPassword})
	</insert>
</mapper>