<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="base.ball.mapper.GameMapper">
	<select id="gameAll">
		select * from game
	</select>
	
	<select id="gameInDay" parameterType="Game">
		select *
		from game
		where game_date = #{gameDate}
	</select>
	
	<select id="homeLineUp" parameterType="Game">
		select game_player_list_home
		from game
		where game_code = #{gameCode}
	</select>
	
	<select id="awayLineUp" parameterType="Game">
		select game_player_list_away
		from game
		where game_code = #{gameCode}
	</select>
	
	<select id="homePlayerDetail" parameterType="Player">
		select *
		from player
		where player_back_no = #{playerBackNo}
		and player_team_name = #{playerTeamName}
	</select>
	
	<select id="awayPlayerDetail" parameterType="Player">
		select *
		from player
		where player_back_no = #{playerBackNo}
		and player_team_name = #{playerTeamName}
	</select>
	
	<insert id="addGame"
	parameterType="Game">
		INSERT INTO game(game_code, game_date, 
		game_team_name_home, 
		game_team_name_away,
		game_player_list_home, 
		game_player_list_away, 
		game_playground_id)
		
		VALUES(#{gameCode},
		#{gameDate},
		#{gameTeamNameHome},
		#{gameTeamNameAway},
		#{gamePlayerListHome},
		#{gamePlayerListAway},
		#{gamePlaygroundId})
	</insert>
	
	<delete id="deleteGame"
	parameterType="String">
		delete
		from game
		where game_code = #{gameCode}
	</delete>
	
	<select id="allPlayer" parameterType="Player">
		select *
		from player
		where player_team_name = #{playerTeamName}
	</select>
</mapper>