<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="base.ball.mapper.TicketMapper">
	<select id="selectGame" parameterType="String" resultType="Ticket">
		SELECT game_code, game_date, game_team_name_home, game_team_name_away 
		FROM game
		WHERE game_date > current_date
		ORDER BY game_date
	</select>
	
	<select id="selectTicket">
	
	</select>
	
	<insert id="insertTicket" parameterType="Ticket" useGeneratedKeys="true" keyProperty="bookingId">
		insert into ticket(game_title, pay_date, member_no, game_code, seat_id_one, seat_section_one, seat_price_one, seat_id_two, seat_section_two, seat_price_two, seat_id_three, seat_section_three, seat_price_three, seat_id_four, seat_section_four, seat_price_four)
		values (#{gameTitle}, #{payDate}, #{memberNo}, #{gameCode}, #{seatIdOne}, #{seatSectionOne}, #{seatPriceOne}, #{seatIdTwo}, #{seatSectionTwo}, #{seatPriceTwo}, #{seatIdThree}, #{seatSectionThree}, #{seatPriceThree}, #{seatIdFour}, #{seatSectionFour}, #{seatPriceFour})
	</insert>
	
	<delete id="deleteTicket" parameterType="int">
		delete from ticket where booking_id = #{bookingId}
	</delete>
</mapper>