<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="base.ball.mapper.TicketMapper">
	<select id="selectTicket">
	
	</select>
	
	<insert id="insertTicket" parameterType="Ticket" useGeneratedKeys="true" keyProperty="booking_id">
		insert into ticket(member_no, match_code, base_price, pay_method, pay_date, bank_type, card_type, installment, is_canceled, seat_class, seat_number, total_seat_count, choose_seat_count)
		values (#{memberNo}, #{matchCode}, #{basePrice}, #{payMethod}, #{payDate}, #{bankType}, #{cardType}, #{installment}, #{isCanceled}, #{seatClass}, #{seatNumber}, #{totalSeatCount}, #{chooseSeatCount})
	</insert>
	
	<update id="updateTicket" parameterType="Ticket">	
		update ticket set where booking_id = #{bookingId} 
	</update>
	
	<delete id="deleteTicket" parameterType="int">
		delete from ticket where booking_id = #{bookingId}
	</delete>
</mapper>