/*body{
    margin-top: 100px;
    margin-left: 800px;
}*/
.chat-container{
    border: 5px ridge black;
    width: 320px;
    height: 350px;
    overflow-y: auto;
    background-color: #D2B48C;
}
.chat-inputbar{
    width: 245px;
    height: 25px;   
}
.button-chat{
   height: 30px;
    background-color: rgb(54, 54, 52);
    color: white;
    border: none;
}
.button-chat:hover{
    background-color: gray;
    
}
.chat-input-section{
    border: 5px ridge black;
    width: 320px;
    background-color: #D2B48C;
}
/*svg{
    margin-top: 5px;
    margin-bottom: -5px;
    background-color: yellow;
    border-radius: 100%;
}*/
.btn-delete{
    border-radius: 100%;
    background-color: #D2B48C;
    padding: 1px;
    font-size : 10px;
    border: none;   
}
.btn-refresh{
    background-color: rgb(54, 54, 52);
    color: white;
    border: none;
    margin-left:113px;
}
.btn-refresh:hover{
    background-color: gray;
}
.font-size{
    font-size: 14px;    
}
.chat-time{
    font-size: 12px;
}
