.gameDetailPageContainer{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.gameDetailPageContainer h1{
    text-align: center;
    color: rgb(3, 92, 73);
    font-weight: bold;
}

.gameDetailPageContainer h3{
    font-weight: bold;
    color: #9893d3;
}

.homeDiv{
    background-image: 
    url('../components/main_components/ground_architecture.jpg');
    width: 30%;
    height: 500px;
    display: grid;

}

.homeDiv h2{
    text-align: center;
    font-weight: bold;
    color: rgb(248, 137, 73);
}

.awayDiv{
    background-image: 
    url('../components/main_components/ground_architecture.jpg');
    width: 30%;
    height: 500px;
    display: grid;
}

.awayDiv h2{
    text-align: center;
    font-weight: bold;
    color: rgb(71, 70, 173);
}

.gameDetailPageContainer button{
    border: none;
    padding: 4px;
    margin: 2px;
    width: 50px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 80px;
    height: 40px;
    justify-self: center;
}
.gameDetailPageContainer button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
}

.twoTeamDiv{
    /*justify-content: center;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.lineupTable{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 10px;
    border-collapse: collapse;
    text-align: center;
}

.lineupTable th{
    border-bottom: 2px solid rgb(253, 238, 237);
    padding: 10px;
}

.lineupTable td{
    
    padding: 10px;
}

.versusCenter{
    margin-top: 200px;
}