.game-edit-container{
    margin-top: 50px;
}

.gameInfo{
    text-align: center;
    font-weight: bold;
}

.gameInfo h1{
    color: rebeccapurple;
    font-weight: bold;
}

.gameInfo label{
    border: 2px solid #ccc;
    width: 300px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px;
}

.gameInfo button{
    color: white;
    background-color: rgb(185, 157, 212);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    box-shadow: 2px 4px 5px #ccc;
}

.gameInfo button:hover{
    background-color: rgb(152, 121, 182);
}

.gameInfo input{
    border: none;
}

.nonfixInput:focus{
    outline-style: none;
    border: 2px solid #4dcdd1;
    border-radius: 5px;
}

.fixedInput:focus{
    outline-style: none;
    cursor:not-allowed;
    color: red;
}