/* 기본 컨테이너 스타일 */
.goodsDetail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

/* 상품 상세 컨테이너 스타일 */
.goods-detail {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  border-radius: 10px;
}

/* 상품 상세 내용 스타일 */
.goods-detail-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* 상품 이미지 스타일 */
.goods-detail-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-right: 80px;
  border: #ccc solid 1px;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
}
.show-detail-h4 {
  text-align: center;
}
/* 상품 정보 스타일 */
.goods-detail-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  margin-top: 20px;
}

.goods-detail h2 {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.goods-detail h5 {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #002063;
}

/* 수량 선택 스타일 */
.quantity-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
  max-width: 150px;
}

.quantity-selector button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ddd;
  color: #333;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.quantity-selector button:hover {
  background-color: #8A1A4D;
  color: white;
}

.quantity-selector span {
  font-size: 1.5rem;
  width: 40px;
  text-align: center;
}

.totalPrice {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

/* 구매 버튼 스타일 */
.buy-button {
  margin-top: 20px;
  padding: 10px 24px;
  background-color: #002063;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #003080;
}

.goods-show-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.goods-show-detail-img {
  max-width: 400px;
  height: auto;
  margin: 10px 0;
}
