.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -57%);
    /* -55% :  -45%로 바꾸면 login-container가 내려감
               -65%로 바꾸면 login-container가 올라감 */
    width: 60%;
    max-width: 1200px;
    height: auto;
    border: 1px solid #ccc;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    gap: 30px;
    box-sizing: border-box;
}

.login-form {
    flex: 1; /* Flexbox를 사용하여 가로 너비의 절반을 차지 */
    display: flex;
    flex-direction: column; /* 세로 방향으로 요소 배치 */
    justify-content: center; /* 수직 중앙 정렬 */
}

.login-image {
    flex: 1; /* Flexbox를 사용하여 가로 너비의 절반을 차지 */
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
}
.login-image img {
    max-width: 100%; /* 이미지의 최대 너비를 div에 맞춤 */
    height: auto; /* 이미지 비율 유지 */
    border-radius: 10px; /* 이미지의 둥근 모서리 */
}

h1 {
    text-align: left;
}

.login-input {
    margin-top: 50px;
}
.login-input div {
   
}
.login-input div p {
    text-align: left;
    font-size: 18px;
    left: 10%;
    margin-bottom: 10px;
}
.login-input div input {
    width: 95%;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
}
.button-container button {
    margin-top: 50px;
    background: #002063;
    width: 100%;
    padding: 15px 25px;
    color: white;
    border: none ;
    border-radius: 10px;
}
.button-container button:hover {
    background: #070063;
    cursor: pointer;
    color: white;
}