.mainApp{
  
  background-color: white;
  margin-top: 30px;
}

.mainBanner img{
  width: 100%;
}

.mainApp h1{
  
  color: burlywood;
  
}

.calendarFrame{
  margin: 0 auto;
  
}

.calendarMonthNav{
  display: flex;
  margin-left: 450px;
  margin-top: 40px;
  
}

.calendarMonthNav h3{
  font-size: 35px;
  font-weight: bold;
  color: rgb(70, 59, 223);  
}

.arrowButton{
  color: rgb(211, 235, 145);
  font-size: 35px;
}

.arrowButton:hover{
  color: mediumseagreen;
  cursor: pointer;

}