.mainApp{
  background-color: white;
  margin-top: 0px;
  padding-bottom: 20px;
}

.mainBanner img{
  width: 100%;
}

.mainApp h1{
  
  color: burlywood;
  
}

.calendarFrame{
  margin: 0 auto;
  
}

.calendarMonthNav{
  display: flex;
  margin-left: 940px;
  margin-top: 40px;
  
}

.calendarMonthNav h3{
  font-size: 35px;
  font-weight: bold;
  color: #002063;  
}

.arrowButton{
  color: #8A1A4D;
  font-size: 35px;
}

.arrowButton:hover{
  color: #751641;
  cursor: pointer;

}