.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5; /* 부드러운 배경색 */
  padding: 20px;
  box-sizing: border-box; /* padding이 요소의 전체 크기에 포함되도록 설정 */
}

h1 {
  font-size: 24px;
  color: #333;
}

#payment-method {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 버튼들을 가운데 정렬 */
  gap: 10px; /* 버튼 사이의 간격 */
  margin-bottom: 20px;
  margin-top: 20px;
}

.payType {
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1; /* 버튼을 가로로 나열 */
  text-align: center;
}

.payType.active {
  background-color: #0056b3; /* 선택된 버튼의 배경색 */
  color: white;
}

.payType:hover {
  background-color: #0056b3; /* 버튼 hover 상태 색상 */
}

.payButton {
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  margin: 5px; /* 버튼 사이에 간격 추가 */
}

.payButton:hover {
  background-color: #218838; /* 결제하기 버튼의 hover 상태 색상 */
}

/* 모바일 화면에서의 스타일 조정 */
@media (max-width: 768px) {
  .payType, .payButton {
    width: 100%; /* 버튼을 전체 너비로 확장 */
    font-size: 16px;
  }
}