* {
  margin: 0;
  padding: 0;
}

/***** NavBar Css *****/
/*
nav {
  background-color: #333;
  padding: 10px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  margin-right: 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  display: block;
}
nav ul li a:hover {
  background-color: #575757;
  border-radius: 4px;
}
*/